*,*::before, *::after{
    box-sizing: border-box;
}
body{
    background: #f1f1f1;
    font-family: roboto, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
    line-height: 1.3;
}
a{
    color: inherit;
}
.topbar{
    background: #2c3e50;
    color: #fff;
}
.topbar a{
    text-decoration: none;
}
.topbar-logo{
    display: block;
    text-align: center;
    font-size: 24px;
    padding: 11px 0;
    
}
.topbar-nav{
    text-align: center;
    padding-bottom: 16px;
}
.topbar-nav a {
    display: inline-block;
    margin: 0 12px;
    color: rgba(255, 255, 255, 0.67);
    transition: color.3s;

}
.topbar-nav a:hover,
.topbar-nav a.active{
    color: #fff;
}
.container {
    padding: 0 15px;
    max-width: 1080px;
    margin: 0 auto;
}
.sidebar {
    font-size: 12px;
}
.sidebar a {
    display: block;
    text-decoration: none;
    padding: 0.6em 0;
}
.sidebar a:hover,
.sidebar a.active {
    color: #000;
}
@media only screen and (min-width:520px) {
 .topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 25px;

    }
    .topbar-logo,
    .topbar-nav{
        padding: 0;
    }
}